<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Inter:700|Roboto:400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="/favicon.ico" />
  <title>Twittear Jobs</title>
</head>

<body>
  <nav class="navbar">
    <p>TWITEAR JOBS</p>
    <button id="btn-toggle">|||</button>
  </nav>
  <main class="main">
    <aside class="search" id="show" style="display:flex">
      <form action="/search/" method="GET" id="form">

        <label for="hashtags" id="hashtags-label">Hashtags:
          <input type="text" id="hashtags" placeholder="#" />
        </label>
        <label for="keywords" id="keywords-label">Keywords:
          <input type="text" id="keywords" placeholder="Javascript" />
        </label>
        <label for="unwanted" id="unwanted-label">Unwanted Words:
          <input type="text" id="unwanted" placeholder="-Estoy" />
        </label>
        <button class="button" id="submitBtn">APPLY</button>

      </form>
    </aside>

    <section class="wrapper">
      <% if(typeof cardsGroup != 'string') { %>
      <% for (var i = 0; i<cardsGroup.length; i++) { %>
      <%- include('./partials/card', {cardsGroup, i})%>
      <%}%>
        <%}%>
    </section>

    <section class="blank"></section>
  </main>

  <script src="/js/Label.js"></script>
  <script src="/js/SearchSpan.js"></script>
  <script src="/js/Input.js"></script>
  <script src="/js/helpers/percentEncode.js"></script>
  <script src="/js/helpers/submitHandler.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
