.navbar {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background: var(--dark);
  z-index: 1;
}

.navbar h1 {
  font-family: 'Inter', sans-serif;
  color: var(--primary);
  width: 75%;
  cursor: default;
  font-size: 2.8rem;
}

.navbar button {
  font-weight: bolder;
  font-size: 2rem;
  padding: 0.8rem;
  background: var(--black);
  color: var(--light);
  outline: none;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.navbar button:hover {
  background: rgb(253, 231, 211);
  color: #000;
  transition: all 0.25s linear;
}

@media (min-width: 36em){
  .navbar h1{
    font-size: 3.2rem;
  }
}

@media (min-width: 48em){
  .navbar button{
    display: none;    
  }
}
