*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-size: 62.5%;
}

body,
html{
    padding: 0 0 10px 0;
    background: #f1f1f1;
}

::selection {
    background: #ffb7b7; 
}
