.search {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin: 2rem auto;
  min-width: 32rem;
  color: var(--light);
  background: var(--dark);
  font-family: 'Inter', sans-serif;
}

input {
  text-align: center; 
  margin: 1.5rem 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 0.4em #00000050;
  border-radius: 10px;
  border: 1px solid white;
  display: block;
  color: var(--light);
  background: var(--dark);
}

input:hover {
  background: var(--primary);
  color: var(--dark);
  border: 1px solid var(--dark);
  transition: all 0.3s ease-in;
}

.keyw-span,
.hash-span,
.unwanted-span {
  width: auto;
  border-radius: 15px;
  margin: .5rem;
  padding: .5rem 1rem;
  background: var(--light);
  color: var(--dark);
  padding-right: 3px;
  white-space: nowrap;
}

.span-btn {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 8px;
  margin-right: 0;
  border-radius: 50%;
  color: var(--dark);
  display: inline-block;
  margin-bottom: 10px;
  background: transparent;
}

.span-btn:hover {
  background: var(--light);
}

.button {
  font-family: 'Inter', sans-serif;
  padding: 10px;
  border-radius: 10px;
  background: var(--light);
  color: var(--dark);
  cursor: pointer;
}

button:hover {
  background: var(--primary);
  color: var(--dark);
}

@media (min-width: 36em) {
  .search {
    display: flex;
  }
}

@media (min-width: 48rem) {
  label{
    min-width: 22rem;
  }
}
